<!-------Banner Start------->
<section class="banner" data-scroll-index='0'>
    <div class="banner-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-12">
            <div class="banner-text">
              <h2 class="white">CAIRUS DIGITAL BUSINESS CENTER</h2>
              <!--<h6 class="white">This awesome template designed by <a href="http://w3Template.com" target="_blank" rel="dofollow" class="weblink">W3 Template</a>.</h6>-->
              <p class="banner-text white">a été né, un centre d’affaire nouvelle génération, qui offre un processus d’affaire 100% digital en automatisations des prestations et la gestion des opérations quotidiennes. 
                De la domiciliation et la création de l’entreprises passant par l’accompagnement et les formations à l’externalisation des services commerciale et recouvrement, traitement, scan et archivage des courriers dans un espace client sécurisé</p>
              <ul>
                <li><a href="#"><img src="assets/images/appstore.png" class="wow fadeInUp" data-wow-delay="0.4s"/></a></li>
                <li><a href="#"><img src="assets/images/playstore.png" class="wow fadeInUp" data-wow-delay="0.7s"/></a></li>
              </ul>
            </div>
          </div>
          <div class="col-md-4 col-sm-12"> <img src="assets/images/kairos.png" class="img-fluid wow fadeInUp"/> </div>
        </div>
      </div>
    </div>
    <span class="svg-wave"> <img class="svg-hero" src="assets/images/applight-wave.svg"> </span> 
  </section>
  
  <!-------Banner End-------> 
  
  <section class="packs" data-scroll-index='0'>
    <div class="row justify-content-center">
      <div class="card" style="width: 25rem;">
        <img src="assets/images/15.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title white">Cairus Standard</h5>
          <p class="card-text white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button href="#" class="btn btn-grad">Commander</button>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img src="assets/images/15.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title white">Cairus Plus</h5>
          <p class="card-text white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button href="#" class="btn btn-grad">Commander</button>
        </div>
      </div>
      <div class="card" style="width: 25rem;">
        <img src="assets/images/16.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title white">Cairus Gold</h5>
          <p class="card-text white">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <button href="#" class="btn btn-grad">Commander</button>
        </div>
      </div>
    </div>
  </section>
  