<section class="banner">
    <div class="banner-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="contact_form" action="">
                        <div class="row mb-3">
                            <div class="col">
                                <label for="email" class="col-sm-2 form-label white">Email</label>
                                <input type="email" id="email" class="form-input w-100" name="email" placeholder="Votre adresse e-mail" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="password" class="col-sm-2 form-label white">Password</label>
                                <input type="password" id="password" class="form-input w-100" name="password" placeholder="Votre mot de passe" required>
                            </div>
                        </div>
                        <div class="row mb-3 justify-content-center">
                            <div class="col-md-4">
                                <button class="btn-grad w-100" type="submit" name="submitbtn">Se Connecter</button>
                            </div>
                            <div class="col-md-4">
                                <button class="btn-grad w-100" type="button" name="insbtn" [routerLink]="['/signup']">S'inscrire</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
    <span class="svg-wave"> <img class="svg-hero" src="assets/images/applight-wave.svg"> </span> 
</section>