<section class="banner">
    <div class="banner-overlay">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <form id="contact_form" action="">
                        <div class="row">
                            <div class="col">
                                <label for="prenom" class="col-sm-2 form-label white">Prénom</label>
                                <input type="text" id="prenom" class="form-input w-100" name="prenom" required>
                            </div>
                            <div class="col">
                                <label for="nom" class="col-sm-2 form-label white">Nom</label>
                                <input type="text" id="nom" class="form-input w-100" name="nom" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="cin" class="col-sm-2 form-label white">CIN</label>
                                <input type="number" id="cin" class="form-input w-100" name="cin" maxlength="8" required>
                            </div>
                            <div class="col">
                                <label for="tel" class="col-sm-2 form-label white">Tél</label>
                                <input type="number" id="tel" class="form-input w-100" name="tel" maxlength="8" required>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="sexe" class="col-sm-2 form-label white">Sexe</label>
                                <select id=sexe class="form-select w-100" aria-label="Default select example">
                                    <option selected></option>
                                    <option value="H">Homme</option>
                                    <option value="F">Femme</option>
                                    <option value="A">Autres</option>
                                  </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <label for="email" class="col-sm-2 form-label white">Email</label>
                                <input type="email" id="email" class="form-input w-100" name="email" placeholder="Votre adresse e-mail" required>
                            </div>
                            <div class="col">
                                <label for="password" class="col-sm-2 form-label white">Password</label>
                                <input type="password" id="password" class="form-input w-100" name="password" placeholder="Votre mot de passe" required>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-md-4">
                                <button class="btn-grad w-100" type="submit" name="insbtn">S'inscrire</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div> 
    </div>
    <span class="svg-wave"> <img class="svg-hero" src="assets/images/applight-wave.svg"> </span> 
</section>
